
.rule-viewport-right {
    margin: 0;
    padding: var(--spacing-sm);
    grid-area: rule-viewport-right;
    background-color: #f0f0f0;
    min-width: 70vw;
    height: 85vh;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--color-background);

    /* Make scrollbar transparent for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0);  /* Transparent thumb */
    }

    /* Transparent scrollbar for Firefox */
    scrollbar-color: rgba(0, 0, 0, 0) transparent;  /* Transparent thumb and track */
    scrollbar-width: thin;
}

.rule-viewport-right pre {
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    color: #abb2bf;
    font-family: 'Monaco', 'Menlo', monospace;
    font-size: 10pt;
    line-height: 1.4;
}

.rule-viewport-right pre code {
    color: var(--color-primary);
}

/* Styles for JSON syntax highlighting */
.operator,
.property {
    color: var(--color-json-key); /* Brackets and keys */
}

.string {
    color: var(--color-json-string); /* Strings */
}

.number {
    color: var(--color-json-number); /* Numbers */
}

.boolean,
.null {
    color: var(--color-json-boolean) /* Booleans */
}

.punctuation {
    color: var(--color-json-punctuation); /* Brackets */
}
