
/* Lavish coloring */
:root {
    --color-primary: #be8c00;
    --color-secondary: #ffffff;
    --color-background: #10121a;
    --color-background-alt: #28283b;
    --color-text: #ffffff;
    --color-border: #10121a;
    --color-highlight: #d22846;
    --color-json-key: #645f8c;
    --color-json-string: #be8c00;
    --color-json-number: #28aa82;
    --color-json-boolean: #d22846;
    --color-json-null: #d22846;
    --color-json-punctuation: #28283b;
    --color-node-background: #f5f5f5;
    --color-node-list-background: #ffffff;
}

/* Spacious spacing */
:root {
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
}

/* Fancy styling */
.theme-style {
    padding: 8px 20px;
    border: 1px solid var(--color-primary); /* Border color similar to the button border */
    background-color: var(--color-background-alt); /* Button background color */
    color: var(--color-secondary); /* Text color */
    font-family: 'Garet Book', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
