
/* Import the variables */
@import url('additions/variables.css');

.rule-viewport-left {
    grid-area: rule-viewport-left;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    background-color: #f0f0f0;
    height: 85vh;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--color-background);
}

.control-labels {
    display: grid;
    grid-template-areas:
        'file-control-label show-control-label';
    gap: var(--spacing-xs);
    padding: var(--spacing-xs);
    color: var(--color-background-alt); /* Text color */
    font-family: 'Garet Heavy', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 0.1em;
    text-align: center;
}

.rule-list-buttons {
    display: grid;
    grid-template-areas:
        'file-load-button file-show-button'
        'file-save-button graph-show-button'
        'file-clear-button tree-show-button'
        'node-filter node-filter'
        'date-filter-wrapper date-filter-wrapper';
    gap: var(--spacing-xs);
    padding: var(--spacing-xs);
}

.file-load-button {
    grid-area: file-load-button;
}

.file-save-button {
    grid-area: file-save-button;
}

.file-clear-button {
    grid-area: file-clear-button;
}

.file-show-button {
    grid-area: file-show-button;
}

.graph-show-button {
    grid-area: graph-show-button;
}

.tree-show-button {
    grid-area: tree-show-button;
}

.styled-button {

}
.styled-button:focus,
.styled-button:hover {
    background-color: var(--color-primary); /* Hover background color */
    color: var(--color-background); /* Hover text color */
}

.node-filter {
    grid-area: node-filter;
    color: var(--color-primary); /* Text color */
    text-align: left;
    display: inline-block; /* Ensure input behaves like a block-level element */
}

.node-filter::placeholder {
    color: var(--color-primary); /* Placeholder text color */
}

.node-filter:hover,
.node-filter:focus {
    background-color: var(--color-primary); /* Hover background color */
    color: var(--color-background); /* Hover text color */
}

.date-filter-wrapper {
    grid-area: date-filter-wrapper;
    display: grid;
    grid-template-areas:
        'date-filter-label date-filter';
    gap: var(--spacing-xs);
    padding: var(--spacing-xs);
}

.date-filter-label {
    grid-area: date-filter-label;
    gap: var(--spacing-xs);
    padding: var(--spacing-xs);
    color: var(--color-background-alt); /* Text color */
    font-family: 'Garet Heavy', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 0.1em;
    text-align: left;
    display: inline-block; /* Ensure input behaves like a block-level element */
}

.date-filter {
    grid-area: date-filter;
    color: var(--color-primary); /* Text color */
    text-align: left;
    display: inline-block; /* Ensure input behaves like a block-level element */
}

.node-list-viewport,
.rule-list-viewport {
    background-color: var(--color-node-background);
    overflow-x: auto;
    overflow-y: auto;
    width: 25vw;
    height: 25vh;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--color-background);
}

.node-list,
.rule-list {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    background-color: var(--color-node-list-background);
}

.node-list li,
.rule-list li {
    margin-left: 10px;
    white-space: nowrap;                /* Prevent text wrapping */
    overflow: hidden;                   /* Hide overflow content */
    text-overflow: ellipsis;            /* Add ellipsis to indicate overflow */
    padding: 10px;                      /* Optional: Add padding for better spacing */
    transition: background 0.3s ease;   /* Add transition for smooth background change */
    font-size: 12px;
}

.node-list li:hover,
.rule-list li:hover {
    background: linear-gradient(to left, var(--color-highlight), rgba(210, 40, 70, 0.1)); /* Gradient from strong to light */
}

/* Specific gradient for elements with the scheduling-node class */
.node-list li.scheduling-node:hover,
.rule-list li.scheduling-node:hover {
    background: linear-gradient(to left, var(--color-json-number), rgba(40, 210, 145, 0.1)); /* Specific gradient */
}
