/* Import the PrismJS theme */
@import url('https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-solarizedlight.min.css');

:root {
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header, footer {
    background-color: #d2d2d2;
    padding: var(--spacing-md);
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.rule-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.rule-viewport {
    display: grid;
    grid-template-areas:
        'rule-viewport-left rule-viewport-right';
    grid-template-columns: 1fr 3fr;
    gap: var(--spacing-md);
    padding-top: var(--spacing-md);
    flex-grow: 1;
    background-color: #f5f5f5;
}

.rule-viewport-left {
    grid-area: rule-viewport-left;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    background-color: #e2e2e2;
}

.rule-list-buttons {
    display: grid;
    grid-template-areas:
        'file-load-button file-show-button'
        'file-save-button graph-show-button'
        'file-clear-button tree-show-button'
        'rule-filter rule-filter';
    gap: var(--spacing-xs);
    padding: var(--spacing-xs);
}

.file-load-button {
    grid-area: file-load-button;
}

.file-save-button {
    grid-area: file-save-button;
}

.file-clear-button {
    grid-area: file-clear-button;
}

.file-show-button {
    grid-area: file-show-button;
}

.graph-show-button {
    grid-area: graph-show-button;
}

.tree-show-button {
    grid-area: tree-show-button;
}

.rule-filter {
    grid-area: rule-filter;
}

.rule-list-viewport {
    background-color: #f5f5f5;
    overflow-x: auto;
    overflow-y: auto;
    width: 25vw;
    height: 40vh;
}

.rule-list {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.rule-list li {
    margin-left: 10px;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis to indicate overflow */
    padding: 10px; /* Optional: Add padding for better spacing */
}

.rule-viewport-right pre {
    padding: 0;
    margin: 0;
    background-color: #d2d2d2;
    color: #abb2bf;
    font-family: 'Monaco', 'Menlo', monospace;
    font-size: 10pt;
    line-height: 1.4;
}

.rule-viewport-right {
    margin: 0;
    padding: var(--spacing-sm);
    grid-area: rule-viewport-right;
    background-color: #d2d2d2;
    color: #abb2bf;
    border-radius: 5px;
    height: 60vh;
    width: 70vw;

    /* Make scrollbar transparent for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0);  /* Transparent thumb */
    }

    /* Transparent scrollbar for Firefox */
    scrollbar-color: rgba(0, 0, 0, 0) transparent;  /* Transparent thumb and track */
    scrollbar-width: thin;
}

.rule-workspace {
    display: grid;
    grid-template-areas:
        'rule-workspace-control'
        'rule-workspace-workbench';
    gap: var(--spacing-md);
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
}

.rule-workspace-control {
    grid-area: rule-workspace-control;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    background-color: #e2e2e2;
}

.rule-workspace-workbench {
    grid-area: rule-workspace-workbench;
    display: flex;
    gap: var(--spacing-md);
    background-color: #d2d2d2;
}

.rule-workspace-workbench-target, .rule-workspace-workbench-source {
    display: flex;
    padding: var(--spacing-md);
    background-color: #d2d2d2;
}

.rule-workspace-workbench-target {
    flex: 1;
}

.rule-workspace-workbench-source {
    flex: 9;
    background-color: #c2c2c2;
}

.box {
    width: 200px;
    height: 160px;
    background-color: #b2b2b2;
    margin: var(--spacing-xs);
}
